<h1>Users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Solutions</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user_solution_count(user) %></td>
  </tr>
<% end %>
</table>

