<h1>Admin Panel</h1>

<ul>
  <li><%= link_to "Audits", audits_path() %></li>
  <li><%= link_to "Solutions Marked Cheating", cheating_path %></li>
  <li><%= link_to "Unapproved Problems", unapproved_problems_path %></li>
</ul>
