/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  padding: 0 0 0;
  margin: 0;
}

section.content {
  width: 950px;
  margin: 10px auto;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, freesans, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, freesans, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #fff;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

hr {
  border: 2px solid #efefef; }

table {
  border-collapse: collapse;
  width: 100%;
  td, th {
    border: 1px solid #ccc;
    padding: 4px 6px; }
  th {
    background: #eee;
    color: #444; } }

header {
  height: 55px;
  background: url(/assets/headerbg.png);
  font-size: 14px;
  font-weight: bold;
  color: #333;
  border-bottom: 8px solid #D31000;
  position: relative;

  img {
    position: relative;
    top: -10px;
    float: left;
    margin: -17px -20px;
    height: 75px;
  }
  .container {
    width: 950px;
    margin: 0 auto;
    padding: 20px 0;
    a {
      color: #B11000;
      text-decoration: none;
      display: block;
      float: left;
      margin: 0 0 0 40px;
      &:hover {
        background: inherit;
        color: #343434; } } }

  .logo {
    width: 300px;
    float: left;
    font-size: 28px;

    a {
      margin-left: 0;
      letter-spacing: -1px;
      &:hover {
        text-shadow: 1px 1px 0 #333; } } }

  .user, .menu {
    float: right;
    margin-top: 12px; }

  p {
    font-size: 14px;
    float: left;
    margin: 0 0 0 40px; }
}

footer {
  border-top: 1px solid #CCC;
  color: #999;
  margin: 20px auto 0;
  padding: 10px 0;
  font-size: 10px;
  background: #eee;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;

  .container {
    width: 950px;
    margin: 0 auto;
  }
  a {
    color: #999;
    &:hover {
      background: inherit;
      color: #666; } }
}