/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require chosen
 *= require_tree .
*/

html, body {height: 100%;}

$width: 950px;
$green: #CFC;

body {
  padding: 0 0 0;
  margin: 0;
  background-color: #fff;
  color: #333;
  font-family: Helvetica, arial, freesans, sans-serif;
  font-size: 12pt;
  line-height: 20px; }

p, ol, ul, td {
  font-family: Helvetica, arial, freesans, sans-serif;
  font-size: 12pt;
  line-height: 20px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 13px; }

a {
  color: #000;
  &:visited {
    color: #444; }
  &:hover {
    color: #D31000; } }

input, select, textarea {
  font-size: 1.2em; }

input[type=text], input[type=password], input[type=email], select {
  border: 1px solid #B6B6B6;
  width: 300px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 6px; }

textarea {
  width: 604px;
  height: 230px;
  border-color: #aaa;
  border: 1px solid #B6B6B6;
  border-radius: 3px;
  box-shadow: 0 0 0 #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 4px; }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  border: 1px solid green;
  color: green;
  background-color: $green; }
  
#error, #warning, #alert {
  border: 1px solid #B11000;
  color: #B11000;
  background-color: pink; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

.message {
  padding: 0.8em;
  text-align: center;
  margin: 15px auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

#error_explanation {
  width: 600px;
  border: 2px solid red;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: lavenderblush;
  h2 {
    font-family: Helvetica, arial, freesans, sans-serif;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 14pt;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    text-shadow: none;
    color: #fff; }
  ul li {
    font-size: 12pt;
    list-style: square; } }

hr {
  margin: 2em 0 2.5em;
  border: 2px solid #bfbfbf; }

.rss {
  padding-left: 22px;
  background-size: 20px;
  background: url("/assets/rss.png") no-repeat 0 0; }

table {
  $background: #ebebeb;

  border-collapse: collapse;
  width: 100%;
  tr.solved, .self {
    //color: green;
    background-color: $green !important; }
  td, th {
    border: 1px solid #ccc;
    padding: 4px 6px;
  }
  
  th {
    font-family: "Droid Sans", Arial, Sans-serif;
    font-size: 14pt;
    background-color: $background !important;
    color: #444;
    text-shadow: 1px 1px #fff;
  }
  
  tr:nth-of-type(even) {
    background-color: $background;
  }
  tr:nth-of-type(odd) {
    background-color: #fff;
  }
}

h1, h2, h3, h4 {
  font-family: "Droid Sans", Helvetica, Arial, Sans-serif;
  text-shadow: 2px 2px #fff;
}
h1 {
  line-height: 1em;
  font-size: 2.4em; }
h2 {
  font-size: 1.8em; }
h3 {
  font-size: 1.6em;
  margin-bottom: .5em; }
h4 {
  font-size: 1.3em; }

.no-display {
  display: none; }

.container {
  width: $width;
  margin: 0 auto;
  position: relative; }

header {
  height: 90px;
  font-family: "Droid Sans", Helvetica, Arial, Sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  position: relative;
  margin-bottom: 15px;

  p {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    float: left;
    margin: 0 0 0 40px; }

  img {
    position: relative;
    top: -10px;
    float: left;
    margin: -17px -20px -17px -28px;
    height: 115px; }

  .container {
    margin: 0 auto;
    padding: 20px 0;
    height: 60px;
    border-bottom: 1px solid #dedede;

    .username a, .username p {
      color: #000;
    }

    a, p {
      color: #B11000;
      text-decoration: none;
      display: block;
      float: left;
      margin: 0 0 0 40px;
      cursor: pointer;
      text-shadow: 0 2px 0 #fff;
      &:hover {
        background: inherit;
        color: #343434; } } }

  .logo {
    width: 200px;
    float: left;
    font-size: 28px;

    a {
      margin-left: 0;
      letter-spacing: -1px;
      &:hover {
        text-shadow: 1px 1px 0 #333; } } }

  .user, .menu {
    float: right;
    margin-top: 20px; }

}

footer {
  border-top: 1px solid #CCC;
  color: #999;
  padding: 10px 0;
  font-size: 10px;
  background: #eee;
  width:100%;

  .container {
    img {
      float: right; } }

  a {
    color: #999;
    &:hover {
      background: inherit;
      color: #666; } } }

.small {
  font-size: 0.9em; }

.clear {
  float: none;
  clear: both; }

footer, .push {
  height: 65px;
}

#wrap {
  background: url('/assets/bgnoise.gif');
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -65px; // set footer height here
}

div.content {
  width: $width - 20;
  min-height: 500px;
  margin: 30px auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;

  h1 {
    margin: 40px 0 23px;
    padding-left: 1px; }
  h2.text-header {
    margin: 1.1em 0 .3em; }
  b, label {
    font-size: 14pt;
    font-weight: bold;
    font-family: "Droid Sans", Helvetica, Arial, Sans-serif; } }

.code-editor {
  font-family: 'Menlo', 'Monaco', 'Courier New', Monospace !important;
  position: relative;
  width: $width - 25;
  height: 350px;
  border: 1px solid #777; }
.code-editor-field {
  height: 360px; }
.edit_problem .code-editor-field, .new_problem .code-editor-field {
  height: 380px; }

p#solutions-link {
  position: relative;
  float: right;
  top: -44px; }

form#edit_user {
  label {
    display: block;
    margin-bottom: 5px;

    .explanation {
      font-style: italic;
    }
  }

  input {
    display: block;
    margin-bottom: 20px;
  }
}

td.solved-mark {
  text-align: center;
}

table#problems {
  tr {
    height: 35px }
  tr.problem {
    cursor: pointer;
    height: 38px;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: inherit; } }
    &:hover {
      color: #777; } }

  table#users {
    tr {
      height: 35px; }
    td.user {
      vertical-align: top;
      padding: 8px 0 0;
      img {
        margin: -3px 0px 0 10px; } }
    tr.user-record th {
      background: inherit; } } }

#solutions-index {
  h2 {
    margin-bottom: 0.7em; }
}
.solution {
  position: relative;
  h3 {
    display: block;
    height: 36px;
    overflow: hidden;
    margin: 0.5em 0 0;
    padding-top: 8px;
    position: relative;
    img {
      position: relative;
      top: 4px; } }
  .CodeRay {
    margin-top: 8px; }
  .solution-info {
    margin-bottom: 0; }
  p {
    margin-top: 4px; } }

div.votes {
  margin: 0 0 1px;
  position: absolute;
  height: 32px;
  overflow: hidden;
  right: 0;
  top: 10px;
  z-index: 10;

  b {
    font-size: 1.3em;
    display: block;
    float: left;
    position: relative;
    top: 8px;
    margin: 0 9px 0; }
  b.no-votes {
    position: relative;
    top: 17px; } }

div.score-only {
  top: 12px; }

a.upvote, a.downvote {
  text-decoration: none;
  margin-left: -6px;
  opacity:0.6;
  filter:alpha(opacity=40); /* For IE8 and earlier */

  &:hover {
    background-color: inherit;
    opacity: 1;
    filter:alpha(opacity=100); }
  img {
    height: 36px; }
  &.selected {
    opacity: 1;
    filter:alpha(opacity=100); } }

a.downvote img {
  transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -webkit-transform: rotate(180deg); }

#provider-links {
  margin: 15px 0 30px;
}
.provider-link {
  float: none;
  clear: both;
  margin: 5px 0;
  height: 40px;
  img {
    float: left;
  }
  a {
    display: block;
    float: left;
    margin: 7px 2px 2px 6px;
  }
}

p.refheap {
  margin: 13px 0 25px;
}

div#flash {
  padding: 0 2px;
  margin: -34px 0 -20px; }

div.links {
  margin-top: 1.2em }

#landing-page {
  margin-top: 30px;
  p {
    font-size: 14pt; }
  input[type=submit] {
    height: 40px !important;
    padding: 8px;
    font-size: 16pt; }
  .blurb {
    padding-top: 3px;
    p:first-child {
      margin-top: 2px; }
    p {
      line-height: 25px;
      font-family: "Open Sans", Helvetica, Arial, Sans-serif; } }
}
.hero-unit {
  padding: 40px;
  margin: 8px 10px 0;
  margin-bottom: 30px;
  border: 1px solid #aaa;
  webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 620px;
  float: right;
  text-align: right;
  background: rgba(255, 255, 255, 0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #efefef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, rgba(255, 255, 255, 0), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%,#efefef 100%); /* Opera11.10+ */ 
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%,#efefef 100%); /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%,#efefef 100%); /* W3C */
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-unit p {
  font-size: 28px !important;
  font-weight: 200;
  line-height: 27px;
  text-shadow: 0 1px #fff;
}

.solutions .pagination {
  margin: 0px;
}

#solution-share-link {
  width: 330px; }

div.ad p {
  background: #eee;
  margin: 1em 0.5em -.25em !important;
  padding: 8px 4px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

img.gravatar {
  border: 1px solid #666; }
.profile-avatar img {
  margin-top: 4px }

a.twitter {
  padding: 10px 0 10px 36px;
  margin: 20px 0 5px;
  height: 40px;
  background: url(/assets/auth/twitter_32.png) no-repeat 0px 2px; }

#share {
  h2 {
    margin-top: 1.2em; }
  h2.twitter {
    margin-top: 1.4em; }
  .links {
    margin-top: 4em; }
  }
