/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  padding: 0 0 10px;
  margin: 0;
}

div.header {
  height: 40px;
  background: #384041;
  color: #fff;
  font-size: 18px;

  .container {
    width: 950px;
    margin: 0 auto;
    padding: 10px 0;
  }
  .logo {
    width: 300px;
    float: left;
    font-size: 28px;
  }
  .user, .menu {
    float: right;
  }
  a {
    color: #fff;
    text-decoration: none;
    display: block;
    float: left;
    margin: 0 0 0 40px;
    &:hover {
      background: inherit;
      color: #aeaeae;
    }
  }
  p {
    font-size: 18px;
    float: left;
    margin: 0 0 0 40px;
  }
}

div.content {
  width: 950px;
  margin: 10px auto;
}