.CodeRay {
  background-color: #000;
  border: 1px solid #000;
  font-family: 'Menlo', 'Monaco', 'Courier New', Monospace;
  color: #fff;
  padding: 10px;
  overflow: auto;
  font-size: 13px;
  margin: 14px 0;
}
.CodeRay pre {
  font-family: 'Menlo', 'Monaco', 'Courier New', Monospace;
  margin: 0px;
  padding: 0px;
  background-color: #000;
  font-size: 13px;
}

.CodeRay .html { color:#E7BE69 }                          /* html attribute */
.CodeRay .comment  { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .escaped-character { color:#509E4F }             /* escaped character */
.CodeRay .class { color:#FFF }                            /* class */
.CodeRay .constant { color:#FFF }                         /* constant */
.CodeRay .float { color:#A4C260 }                         /* float */
.CodeRay .function { color:#FFC56D }                      /* function */
.CodeRay .global-variable { color:#D0CFFE }               /* global variable */
.CodeRay .integer  { color:#A4C260 }                      /* integer */
.CodeRay .inline-code { background:#151515 }              /* inline code */
.CodeRay .instance-variable { color:#D0CFFE }             /* instance variable */
.CodeRay .doctype { color:#E7BE69 }                       /* doctype */
.CodeRay .keyword  { color:#CB7832 }                      /* keyword */
.CodeRay .regex { color:#A4C260 }                         /* regex */
.CodeRay .string  { color:#A4C260 }                       /* string */
.CodeRay .symbol { color:#6C9CBD }                        /* symbol */
.CodeRay .ta { color:#E7BE69 }                            /* html tag */
.CodeRay .boolean { color:#6C9CBD }                       /* boolean */
.CodeRay .predefined-constant { color:#CB7832 }