// pagination

nav.pagination {
  margin: 1em 0 0;
  float: right;
  span, a {
    display: block;
    float: left; }
  span.gap {
    margin-right: 4px;
    padding: 4px 2px; }
  span.current {
    font-weight: bold;
    border: 1px solid #333;
    margin: 0 4px 0 0px;
    color: #fff;
    background: #c6c6c6 url(Aristo/bg_fallback.png) 0 0 repeat-x; /* Old browsers */
    background: -moz-linear-gradient(top, #c6c6c6 0%, #e6e6e6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c6c6c6 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c6c6c6 0%,#e6e6e6 100%); /* Opera11.10+ */ 
    background: -ms-linear-gradient(top, #c6c6c6 0%,#e6e6e6 100%); /* IE10+ */
    background: linear-gradient(top, #c6c6c6 0%,#e6e6e6 100%); /* W3C */
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 4px 6px; }
  a {
    text-decoration: none;
    padding: 4px 6px;
    margin: 0 4px 0 0px;
    border: 1px solid #aaa;
    color: #343434;
    background: #f5f5f5 url(Aristo/bg_fallback.png) 0 0 repeat-x; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #d6d6d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f5f5 0%,#d6d6d6 100%); /* Opera11.10+ */ 
    background: -ms-linear-gradient(top, #f5f5f5 0%,#d6d6d6 100%); /* IE10+ */
    background: linear-gradient(top, #f5f5f5 0%,#d6d6d6 100%); /* W3C */
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    &:hover{
      color: #333;
      border: 1px solid #333;
      color: #333; }
    &:visit{
      color: #0e509e; } }
  .next, .prev {
    font-weight: normal; } }


// dataTables javascript pagination

div.dataTables_paginate {
  .first, .last {
    display: none; }

  a.next:after {
    content: " ›"; }

  a.previous:before {
    content: "‹ "; }

  a.paginate_active {
    font-weight: bold;
    border: 1px solid #333;
    color: #fff;
    background: #c6c6c6 url(Aristo/bg_fallback.png) 0 0 repeat-x; /* Old browsers */
    background: -moz-linear-gradient(top, #c6c6c6 0%, #e6e6e6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c6c6c6 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c6c6c6 0%,#e6e6e6 100%); /* Opera11.10+ */ 
    background: -ms-linear-gradient(top, #c6c6c6 0%,#e6e6e6 100%); /* IE10+ */
    background: linear-gradient(top, #c6c6c6 0%,#e6e6e6 100%); /* W3C */
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 4px 6px; }

  a {
    cursor: pointer;
    display: block;
    float: left;
    text-decoration: none;
    padding: 4px 6px;
    margin: 0 4px 0 0px;
    border: 1px solid #aaa;
    color: #343434;
    background: #f5f5f5 url(Aristo/bg_fallback.png) 0 0 repeat-x; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #d6d6d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f5f5 0%,#d6d6d6 100%); /* Opera11.10+ */ 
    background: -ms-linear-gradient(top, #f5f5f5 0%,#d6d6d6 100%); /* IE10+ */
    background: linear-gradient(top, #f5f5f5 0%,#d6d6d6 100%); /* W3C */
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    &:hover{
      color: #333;
      border: 1px solid #333;
      color: #333; }
    &:visit{
      color: #0e509e; } }

}
