<h1>Listing solutions</h1>

<% if @solutions.any? %>
  <% @solutions.each_with_index do |solution, index| %>
    <h3>Solution <%= index+1 %></h3>
    <pre><%= solution.code %></pre>
    <p class="small">Submitted by <strong><%= solution.user %></strong> on <%= solution.updated_at %>.</p>
  <% end -%>
<% else %>
  <p>There are no solutions to this problem.</p>
<% end -%>
